@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
/* font-family: 'Passion One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');
/* font-family: 'Sriracha', cursive; */

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One',cursive;
    --fonte03: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-width: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);

}
header {
    background-color: black;
    color: white;
    text-align: center;    
}
header > h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--fonte02);
    
}
header a, footer a {
    text-decoration: none;
    font-weight: bold;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}
header > p {
    padding-bottom: 30px;
    padding-top: 10px;
    /* font-family: var(--fonte02); */
}

section {
    padding: 10vh 0 10vh 0;
    line-height: 2em;
    padding-left: 40px;
    font-size: 5vw;
    font-family: var(--fonte03);
}
section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(48, 48, 48);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 12px 12px 12px 12px rgba(0, 0, 0, 0.336);
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.301);
    display: inline-block;
    padding: 10px;
}
section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: center right;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: center right;
}

footer {
    background-color: black;
    color: white;
    padding: 10px 0px 10px 0px;
    font-variant: small-caps;
    text-align: center;
}

